.display {
   color: white;
   background-color: $color-light-black;
   line-height: 12rem;
   font-size: 4rem;
   flex: 1;
}

.display__value {
   display: flex;
   justify-content: flex-end;
   line-height: 150%;
   transform-origin: right;
   padding: 3rem 3rem;
   margin-bottom: 0;
   right: 0;
   word-break: break-all;
}