//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


//Color
$color-leaf-transparent: rgba(166, 201, 42, 0.9);
$color-green-transparent: rgba(15, 30, 22, .9);

$color-light-black: rgb(38, 38, 36);